/* RESET */
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CONTAINER */

.container
{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.container-fluid
{
    max-width: 100%;
    width: 100%;
}

/* GRID */

.row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Standard Column */
.col
{
    flex-grow: 1;
}

/* 12 Grid Columns */

.col-12
{
    flex-basis: calc(100% /12 *12);
    max-width: calc(100% /12 *12);
}
.col-11
{
    flex-basis: calc(100% /12 *11);
    max-width: calc(100% /12 *11);
}
.col-10
{
    flex-basis: calc(100% /12 *10);
    max-width: calc(100% /12 *10);
}
.col-9
{
    flex-basis: calc(100% /12 *9);
    max-width: calc(100% /12 *9);
}
.col-8
{
    flex-basis: calc(100% /12 *8);
    max-width: calc(100% /12 *8);
}
.col-7
{
    flex-basis: calc(100% /12 *7);
    max-width: calc(100% /12 *7);
}
.col-6
{
    flex-basis: calc(100% /12 *6);
    max-width: calc(100% /12 *6);
}
.col-5
{
    flex-basis: calc(100% /12 *5);
    max-width: calc(100% /12 *5);
}
.col-4
{
    flex-basis: calc(100% /12 *4);
    max-width: calc(100% /12 *4);
}
.col-3
{
    flex-basis: calc(100% /12 *3);
    max-width: calc(100% /12 *3);
}
.col-2
{
    flex-basis: calc(100% /12 *2);
    max-width: calc(100% /12 *2);
}
.col-1
{
    flex-basis: calc(100% /12 *1);
    max-width: calc(100% /12 *1);
}

/* OFFSET */

.col-offset-12
{
    margin-left: calc(100% /12 *12);
}
.col-offset-11
{
    margin-left: calc(100% /12 *11);
}
.col-offset-10
{
    margin-left: calc(100% /12 *10);
}
.col-offset-9
{
    margin-left: calc(100% /12 *9);
}
.col-offset-8
{
    margin-left: calc(100% /12 *8);
}
.col-offset-7
{
    margin-left: calc(100% /12 *7);
}
.col-offset-6
{
    margin-left: calc(100% /12 *6);
}
.col-offset-5
{
    margin-left: calc(100% /12 *5);
}
.col-offset-4
{
    margin-left: calc(100% /12 *4);
}
.col-offset-3
{
    margin-left: calc(100% /12 *3);
}
.col-offset-2
{
    margin-left: calc(100% /12 *2);
}
.col-offset-1
{
    margin-left: calc(100% /12 *1);
}


/* FLEX CONTENT */

.jfc-center
{
    justify-content: center;
}
.jfc-between
{
    justify-content: space-between;
}
.jfc-around
{
    justify-content: space-around;
}
.jfc-evenly
{
    justify-content: space-evenly;
    align-items: ;
}

.ai-center
{
    align-items: center;
}
.ai-start
{
    align-items: flex-start;
}
.ai-end
{
    align-items: flex-end;
}
.ai-baseline
{
    align-items: baseline;
    align-content: center;
}

/* TEXT */

.text-center
{
    text-align: center;
}
.text-right
{
    text-align: right;
}
.text-left
{
    text-align: left;
}

.lh-100
{
    line-height: 100%;
}
/*  MEDIA QUERIES*/

